@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */

html,
body,
#root,
.app {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
